---
import {
  getAllPosts,
  getPostBySlug,
  getAllBlocksByBlockId,
} from '../lib/notion/client.ts'
import {
  getPostLink,
  filePath,
} from '../lib/blog-helpers.ts'
import Layout from '../layouts/Layout.astro'
import PostTitle from '../components/PostTitle.astro'
import PostBody from '../components/PostBody.astro'
import styles from '../styles/blog.module.css'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'

const slug = "privacy-policy";

const post = await getPostBySlug(slug)
if (!post) {
  throw new Error('Post not found. slug: ${slug}')
}

const [blocks, allPosts] =
  await Promise.all([
    getAllBlocksByBlockId(post.PageId),
    getAllPosts(),
  ])

const currentPostIndex = allPosts.findIndex((post) => post.Slug === slug)

let ogImage = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  ogImage = new URL(filePath(new URL(post.FeaturedImage.Url)), Astro.site)
}
---

<Layout
  title={post.Title}
  description={post.Excerpt}
  path={getPostLink(post.Slug)}
  ogImage={ogImage}
>
  <div slot="main" class={styles.main}>
    <div class={styles.post}>
      <PostTitle post={post} enableLink={false} />
      <PostFeaturedImage post={post} />
      <PostBody blocks={blocks} />
    </div>
  </div>
</Layout>
