---
import { PUBLIC_GA_TRACKING_ID, ENABLE_LIGHTBOX } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import '../styles/syntax-coloring.css'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import SearchModal from '../components/SearchModal.astro'
import SearchButton from '../components/SearchButton.astro'
import headerImage from '../images/header.webp'
import logoImage from '../images/monorawg.webp'

export interface Props {
  title: string
  description: string
  path: string
  ogImage: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(
  getStaticFilePath('/default-og-image.png'),
  Astro.site
)

let coverImageURL: string
if (database.Cover) {
  if (database.Cover.Type === 'external') {
    coverImageURL = database.Cover.Url
  } else if (database.Cover.Type === 'file') {
    try {
      coverImageURL = filePath(new URL(database.Cover.Url))
    } catch {
      console.log('Invalid DB cover image URL: ', database.Cover?.Url)
    }
  }
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
  try {
    customIconURL = filePath(new URL(database.Icon.Url))
  } catch {
    console.log('Invalid DB custom icon URL: ', database.Icon?.Url)
  }
}
---

<!doctype html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={database.Title} />
    <meta property="og:image" content={ogImage || siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage || siteOGImage} />
    <link rel="icon" href={getStaticFilePath('/favicon.png')} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=label"
    />
  </head>
  <body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <div class="container">
      <!-- <div class="cover">
         <div class="headerImage"></div>
      </div> -->

      <header>
        <a href={getNavLink('/')}>
          <img src={logoImage.src} alt="MONORAWG" loading="lazy" class="logo" />
        </a>
      </header>

      <div>
        <main>
          <div class="content">
            <slot name="main" />
          </div>
        </main>

        <aside>
          <slot name="aside" />
        </aside>
      </div>

      <footer>
        <div class="home-link">
          <a href={getNavLink('/')}>ホーム</a>
          <a href={getNavLink('/privacy-policy')}>プライバシーポリシー</a>
        </div>
        <div>
          <span>Powered by </span>
          <a href="https://github.com/otoyo/astro-notion-blog"
            >astro-notion-blog</a
          >
        </div>
        <div>
          <span>Copyright &copy; 2024 MONORAWG</span>
        </div>
      </footer>
    </div>

    <SearchModal />
    {
      ENABLE_LIGHTBOX && (
        <script src={getStaticFilePath('/scripts/fslightbox.js')} />
      )
    }
  </body>
</html>

<style>
  .container {
    min-height: 100vh;
  }

  .container > div {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    margin-inline: auto;
    place-content: center;
  }
  @media (max-width: 1100px) {
    .container > div {
      grid-auto-flow: row;
    }
  }

  main {
    min-width: 320px;
    max-width: 720px;
    background-color: var(--bg2);
    border-radius: 32px;
  }
  @media (max-width: 800px) {
    main {
      width: 100%;
    }
  }
  @media (max-width: 550px) {
    main {
      border-radius: 0;
    }
  }

  aside {
    width: 350px;
    padding: 1em 0;
  }
  @media (max-width: 1100px) {
    aside {
      width: 100%;
      padding: 1em;
    }
  }

  .cover {
    position: relative;
  }
  /* .cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #f0f0f0, transparent 50%, transparent);
  } */
  .cover .headerImage {
    background: linear-gradient(
        to bottom,
        rgba(240, 240, 240, 0),
        rgba(240, 240, 240, 0.595) 50%,
        rgba(240, 240, 240, 0.7225) 65%,
        rgba(240, 240, 240, 0.78625) 75.5%,
        rgba(240, 240, 240, 0.81855) 82.85%,
        rgba(240, 240, 240, 0.83385) 88%,
        rgba(240, 240, 240, 0.88) 92%,
        rgba(240, 240, 240, 0.94) 96.5%,
        rgba(240, 240, 240, 1)
      ),
      url('../images/header.webp');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center 60%;
    z-index: -10;
  }
  header {
    position: relative;
    height: 40vh;
  }
  header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    height: 3em;
    width: auto;
  }
  @media (max-width: 550px) {
    header {
      height: 30vh;
    }
    header .logo {
      height: 2.4em;
    }
  }

  div.content {
    padding: 2em;
  }
  div.content > div > div {
    display: relative;
  }
  @media (max-width: 550px) {
    div.content {
      padding: 0 2em;
    }
  }

  footer {
    margin: 30px 0px;
    text-align: center;
    font-size: 0.75rem;
  }
  footer span {
    color: #777;
  }
  footer a {
    color: inherit;
    text-decoration: underline;
  }
  footer .home-link {
    margin-bottom: 1em;
  }
  footer .home-link a {
    padding: 1em;
  }
</style>

<style is:global>
  :root {
    --gap-quarter: 0.25rem;
    --gap-half: 0.5rem;
    --gap: 1rem;
    --gap-double: 2rem;

    --bg: #f0f0f0;
    --bg2: #fafafa;
    --fg: #333;
    --accents-1: #666;
    --accents-2: #666;
    --accents-3: #666;
    --geist-foreground: #000;
    --geist-success: #690;

    --radius: 4px;

    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    --font-mono: SFMono-Regular, Menlo, Consolas, 'PT Mono', 'Liberation Mono',
      Courier, monospace;
  }

  * {
    box-sizing: border-box;
    word-break: break-word;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 18px;
  }

  body {
    min-height: 100vh;
    background: var(--bg);
    color: var(--fg);
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
      'Hiragino Sans', Meiryo, sans-serif;

    /*background-image: radial-gradient(#ddd 1px, transparent 1px),
      radial-gradient(#ddd 1px, transparent 1px);*/
    /* background-position:
      0 0,
      25px 25px; */
    background-attachment: fixed;
    /* background-size: 50px 50px; */
    background-image: url('../images/grain-bg.webp');

    /* Hack */
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }

  figure {
    margin: 0;
    font-size: 0.85rem;
    color: #999;
    line-height: 1.8rem;
  }

  a {
    color: var(--accents-1);
    text-decoration: none;
  }
  a:hover {
    color: var(--accents-1);
  }

  mark {
    padding: var(--gap-quarter);
    border-radius: var(--radius);
    background: rgba(247, 212, 255, 0.8);
  }

  h1 {
    margin: 0;
    color: var(--fg);
    font-size: 2rem;
    font-weight: 700;
  }

  ol {
    color: #222;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  p,
  ul {
    color: #222;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  ul,
  ol {
    margin: 0;
    padding-inline-start: 1.5rem;
  }
  pre {
    margin: 0;
    white-space: pre;
    tab-size: 2;
  }
  pre :global(code) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 0.3rem 0;
    background-color: #333;
  }

  code {
    font-size: 0.9rem;
    background: rgba(135, 131, 120, 0.15);
    color: #eb5757;
    padding: 0.25rem;
    border-radius: var(--radius);
    font-family: var(--font-mono);
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
  }

  table tr {
    vertical-align: top;
  }

  table th {
    font-weight: 600;
    background-color: #f4f4f4;
  }

  table td,
  table th {
    font-size: 0.9rem;
    border: 1px solid #e4e4e4;
    padding: 0.5rem 1rem;
    text-align: left;
    line-height: 1.2rem;
  }
  table td::after {
    content: '';
    display: inline-block;
    min-height: 0.9rem;
  }
  .datetags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
